.form
  = form_with model: @user, local: true do |f|
    = render 'shared/error_messages', object: f.object
    .form-group
      =f.label :name, "Имя"
      =f.text_field :name, class: 'form-control'
    .form-group
      =f.label :email, "Почта"
      =f.text_field :email, class: 'form-control'
    .form-group
      =f.label :password, "Пароль"
      =f.password_field :password, class: 'form-control'
    .form-group
      =f.label :password_confirmation, "Повторить пароль"
      =f.password_field :password_confirmation, class: 'form-control'
    .form-group
      =f.submit "Создать мой аккаунт", class: 'btn btn-primary'